<!DOCTYPE html>
<html lang="en">

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta name="description" content="papykabukanyi portfolio page">
  <meta name="keywords" content="Portfolio, papy kabukanyi, Web Developer, marketing, programming">
  <meta name="google" content="translate" />
  <meta content="main Resume/CV for KBKNY" name="Papy kabukanyi">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="icon" href="./static/assets/img/favicon.ico" type="image/x-icon">

  <title>Resume/CV</title>  

<link href="./static/assets/css/main.3f6952e4.css" rel="stylesheet"></head>

<body class="">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
 <!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-default">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="./index.html" title="">01 : Home</a></li>
          <li><a href="./works.html" title="">02 : Works</a></li>
          <li><a href="./about.html" title="">03 : About me</a></li>
          <li><a href="./resume.html" title="">04 : Resume/CV</a></li>
          <li><a href="./contact.html" title="">05 : Contact</a></li>
        </ul>


      </div> 
    </div>
  </nav>
</header>

<div class="section-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="section-container-spacer text-center">
          <h1 class="h2">04 : Resume/CV</h1>
        </div>
      </div>
    </div>
  </div>
  
<!-- Add your site or app content here -->
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        
<!-- work Experience 1 -->
        <div class="template-example">
          <!-- <h1 class="template-title-example">Work Experience</h1> -->
          <tr><td><h1>Work Experience</h1></td></tr>
          <!-- work Experience now -->
      <div class="template-example">
        <!-- <h1 class="template-title-example">Work Experience</h1> -->
        <!-- <tr><td><h1>Work Experience 2</h1></td></tr> -->
        <div class="">
          <h3 class="template-title-example">Web Developer|Data Analyst|Marketer</h3>
          <h3 class="template-title">FreeLancer - Salt Lake City, Utah - USA</h3>
          <h4 class="">November/2022 - <b>NOW</b></h4>
          <ul>
            <li><b>Developed custom RESTful APIs</b> to streamline data integration for clients, <b>improving efficiency and data accessibility</b>.</li>
            <li><b>Leveraged Python</b> for data analysis, <b>transforming raw data into actionable insights</b> to inform strategic decision-making.</li>
            <li>Created dynamic web applications using Flask, <b>delivering user-friendly interfaces</b> and seamless functionality.</li>
            <li>Orchestrated targeted marketing campaigns, <b>utilizing data-driven strategies to optimize audience engagement and drive conversions</b>.</li>
            <li><b>Established long-term partnerships with clients</b> through exceptional project management, communication, and delivery of high-quality solutions.</li>
          </ul>
        </div>
      </div>
          <div class="">
            <h3 class="template-title-example">Data Analyst</h3>
            <h3 class="template-title">Lendio - Lehi, Utah - USA</h3>
            <h4 class="template-title">April/2019 - November/2022</h4>
            <p>
            <ul>
              <li>Implemented data cleansing and normalization techniques, resulting in a 20% improvement in <b>data accuracy and reliability.</b></li>
              <li>Developed advanced <b>data visualization</b> dashboards using Tableau, facilitating data-driven decision-making and increasing team efficiency by 30%.</li>
              <li>Executed comprehensive data analysis on customer behavior, leading to <b>targeted marketing strategies</b> and a 15% increase in customer engagement.</li>
              <li>Collaborated with cross-functional teams to streamline data collection processes, reducing data processing time by 25% and <b>enhancing overall data quality.</b></li>
              <li>Generated actionable insights from large datasets using Python and SQL, contributing to a 10% <b>increase in sales revenue</b> through informed business strategies.</li>
              <li>Implemented predictive modeling techniques to forecast market trends, enabling proactive <b>decision-making</b> and mitigating risks effectively.</li>
              <li>Spearheaded the automation of repetitive <b>data analysis</b> tasks, saving 15 hours per week and allowing the team to focus on more strategic initiatives.</li>
            </ul>
          </p>
          </div>
        </div>
      <!-- work Experience 2 -->
      <div class="template-example">
        <!-- <h1 class="template-title-example">Work Experience</h1> -->
        <!-- <tr><td><h1>Work Experience 2</h1></td></tr> -->
        <div class="">
          <h3 class="template-title-example">Jr Software engineer</h3>
          <h3 class="template-title">Alpha Warranty - Lehi, Utah - USA</h3>
          <h4 class="">November/2017 - April/2019</h4>
          <ul>
            <li>Collaborated with senior engineers to <b>develop and deploy a scalable microservices architecture</b>, reducing system latency by 40% and <b>improving overall application performance</b>.</li>
            <li>Contributed to the successful delivery of multiple software projects within tight deadlines, demonstrating <b>strong problem-solving skills and adaptability</b>.</li>
            <li>Identified and resolved critical bugs in legacy codebase, <b>enhancing application stability and user experience</b>.</li>
            <li><b>Implemented unit tests and integration tests</b>, increasing code coverage by 20% and reducing the number of production issues by 30%.</li>
            <li>Participated in code reviews and provided constructive feedback, fostering a culture of continuous <b>improvement and knowledge sharing within the team</b>.</li>
            <li><b>Took initiative to learn new technologies</b> such as Docker and Kubernetes, contributing to the team's migration to a containerized infrastructure.</li>
            <li>Demonstrated strong communication skills by effectively <b>documenting technical specifications and presenting solutions to cross-functional teams.</b></li>
          </ul>
        </div>
      </div>
      <!-- work Experience 3 -->
      <div class="template-example">
        <!-- <h1 class="template-title-example">Work Experience</h1> -->
        <!-- <tr><td><h1>Work Experience 3</h1></td></tr> -->
        <div class="">
          <h3 class="template-title-example">Tesla Support Specialist</h3>
          <h3 class="template-title">Alpha Warranty Services - Riverdale, Utah - USA</h3>
          <h4 class="">December/2015 - November/2017</h4>
          <ul>
            <li>Led a customer support initiative resulting in a 20% decrease in response time, <b>enhancing overall customer satisfaction</b>.</li>
            <li><b>Developed and delivered comprehensive training materials for new hires</b>, ensuring consistent and high-quality support across the team.</li>
            <li><b>Resolved complex technical issues</b> related to Tesla vehicles, maintaining a <b>95% customer issue resolution rate</b>.</li>
            <li>Implemented a feedback loop system to <b>capture customer concerns and insights</b>, leading to product improvements and increased customer loyalty.</li>
            <li>Achieved recognition for exceptional service, receiving consistently <b>positive feedback from customers and management</b>.</li>
            <li>Collaborated with engineering teams to <b>identify and prioritize software and hardware improvements</b> based on customer feedback.</li>
            <li>Maintained up-to-date knowledge of Tesla products and systems, <b>providing accurate and timely assistance to customers</b>.</li>
          </ul>
        </div>
      </div>
      <div class="template-example">
        <!-- <h1 class="template-title-example">Work Experience</h1> -->
        <!-- <tr><td><h1>Work Experience 3</h1></td></tr> -->
        <div class="">
          <h3 class="template-title-example">Claim Processor</h3>
          <h3 class="template-title">Tufts Health Plan - Watertown, Massachusett - USA</h3>
          <h4 class="">March/2013 - December/2015</h4>
          <ul>
            <li>Achieved a 98% accuracy rate in <b>processing claims</b> through meticulous review and validation of documentation.</li>
            <li>Established and <b>maintained positive relationships with clients</b>, effectively addressing inquiries and concerns in a timely manner.</li>
            <li>Recognized for <b>consistently meeting or exceeding performance metrics</b>, including turnaround time and accuracy targets.</li>
            <li><b>Led a cross-functional team</b> in identifying and resolving systemic issues, resulting in a 25% decrease in claims disputes.</li>
            <li>Contributed to the <b>development and optimization of internal processes</b> and procedures to ensure compliance with regulatory requirements.</li>
          </ul>
        </div>
      </div>

      </div>

      <div class="col-xs-12 col-md-6">
        <div class="template-example">
          <tr><td><h1>Educations</h1></td></tr>
          <h3 class="template-title-example">BS - Business Marketing</h3>
          <h3 class="template-title">Wester Governor University - Salt Lake City, Utah</h3>
          <!-- <h4 class="">October/2020 - December/2024</h4> -->
          <p>Dynamic business marketing graduate with a proven track record of <b>strategic 
            thinking and innovative problem-solving. Proficient in market analysis, campaign development, 
            and digital marketing techniques. Skilled in communication and team collaboration, adept at driving results in fast-paced environments.</b> 
            Passionate about leveraging consumer insights to drive business growth.
            </p>
          <h3 class="template-title-example">BS - Computer Science</h3>
          <h3 class="template-title">Bunker Hill Community College - Charlestown, Massachusett</h3>
          <!-- <h4 class="">September/2012 - January/2016</h4> -->
          <p>Results-driven computer science graduate with a focus on <b>Python programming, web development, 
            and backend API integration. Proficient in developing scalable and efficient solutions leveraging Python's versatility.</b> 
            Skilled in building dynamic web applications and interfacing with APIs for seamless integration. 
            <b>Solid understanding of backend development principles and database management. 
            Proven ability to collaborate effectively in team environments and deliver high-quality projects on time.</b> 
            Passionate about leveraging technology to solve real-world problems and drive innovation. 
            Eager to contribute technical expertise to dynamic projects and continue learning in a fast-paced environment.
            </p>

            <tr><td><h1>Certifications</h1></td></tr>
            <!-- google part of certification -->
            <h3 class="template-title-example">Certificate in Data Analytic</h3>
            <h3 class="template-title">Google Carreer training</h3>
            <!-- <h4 class="">March/2020 - Febuary/2021</h4> -->
            <p>Mastered <b>Google Analytics tools</b> and techniques through comprehensive certification training.
              Demonstrated proficiency in <b>analyzing website performance, user behavior, and traffic sources.</b>
              Applied insights to <b>optimize digital marketing strategies</b> and drive measurable results.</p>
              <!-- Udemy part of certification -->
            <h3 class="template-title-example">Web Development Bootcamp</h3>
            <h3 class="template-title">Udemy</h3>
            <!-- <h4 class="">Febuary/2021 - June/2023</h4> -->
            <p>Acquired comprehensive skills in <b>web development</b> through intensive bootcamp training.
              Mastered front-end technologies such as <b>HTML, CSS, and JavaScript</b> for building interactive user interfaces.
              Developed proficiency in back-end development with frameworks like <b>Node.js, Express, and MongoDB</b> for creating robust and dynamic web applications.</p>

              <!-- Udemy 2 part of certification -->
            <h3 class="template-title-example">100 Days of Code: The Complete Python Pro Bootcamp</h3>
            <h3 class="template-title">Udemy</h3>
            <!-- <h4 class="">April/2021 - December/2022</h4> -->
            <p>Completed Udemy's 100 Days of Python coding challenge certification, mastering core Python concepts and applications. 
              <b>Demonstrated proficiency in data manipulation, web development, and automation using Python</b>. 
              Developed problem-solving skills through daily coding exercises and projects. 
              Acquired a deep <b>understanding of algorithms, data structures, and software development principles</b>. 
              Dedicated 100 days to continuous learning and skill enhancement, resulting in a <b>solid foundation in Python programming</b>. 
              <b>Ready to apply newfound expertise to real-world projects and pursue further learning in Python development</b>.</p>

            <tr><td><h1>Skills</h1></td></tr>
            <h3 class="template-title-example">Primary Skills</h3>
            <ul>
              <li>Proficient in multiple programming languages, including <b>Python</b>.</li>
              <li>Proficiency in data analysis tools such as <b>Python (pandas, numpy) and SQL</b>.</li>
              <li>Proficiency in front-end technologies: <b>HTML, CSS, JavaScript</b>.</li>
              <li>Strong analytical skills for <b>interpreting marketing data and metrics</b>.</li>
              <li>Knowledge of version control systems like <b>Git</b>.</li>
              <li>Experience with data visualization libraries like <b>Matplotlib and Seaborn</b>.</li>
              <li>Knowledge of back-end development with Python using frameworks like <b>Django or Flask</b>.</li>
              <li>Experience with marketing automation tools like <b>HubSpot or Marketo</b>.</li>
              <li>Ability to <b>design and develop scalable</b>, maintainable software solutions.</li>
              <li>Understanding of <b>machine learning</b> concepts for predictive analytics.</li>
              <li>Experience with <b>web security principles</b> and best practices.</li>
              <li>Competence in <b>SEO (Search Engine Optimization)</b> techniques.</li>
              <li>Knowledge of <b>SEM (Search Engine Marketing)</b> and <b>PPC (Pay-Per-Click)</b> advertising.</li>
              <li>Experience with <b>testing frameworks</b> and practices.</li>
              <li>Strong problem-solving and <b>debugging skills</b>.</li>
              <li>Competence in interpreting and <b>communicating insights from data</b>.</li>
              <li>Understanding of <b>HTTP protocols and web servers</b>.</li>
              <li>Understanding of <b>social media marketing strategies</b> and platforms.</li>
              <li>Ability to <b>create compelling content</b> for various channels.</li>
              <li>Experience with BI tools such as <b>Tableau or Power BI</b>.</li>
              <li>Proficiency in <b>web performance optimization</b> techniques.</li>
              <li>Understanding of <b>data privacy</b> and <b>regulatory compliance</b>.</li>
              <li>Strong <b>communication</b> and <b>storytelling skills</b>.</li>
            </ul>
            <tr><td><h1>Summary</h1></td></tr>
          <p>
            I am a versatile bachelor's graduate proficient in both <b>Business Marketing and Computer Science</b>, 
            blending strategic marketing insights with technical expertise. Mastered strategic analysis, market research, 
            and campaign development in Business Marketing. <b>Additionally, honed skills in programming languages, web development, 
            and software engineering principles. Acquired a diverse skill set enabling effective problem-solving and innovative solution development.</b> 
            Strong communicator adept at bridging the gap between technical and non-technical stakeholders. 
            Ready to leverage dual expertise to drive business growth and technological advancements in dynamic environments.
          </p>
        </div>

<footer class="text-center">
  <div>
    <div>
      <div>
        <p>© KBKNY LLC | Website created with FLASK & PYTHON</p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID 

<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', 'UA-XXXXX-X', 'auto');
  ga('send', 'pageview');
</script>

--> <script type="text/javascript" src="./static/assets/js/main.70a66962.js"></script></body>
<!-- <footer>
  <div>
    <div>
      <div>
        <p>© KBKNY LLC | Website created with FLASK & PYTHON</p>
      </div>
    </div>
  </div>
</footer> -->
</html>